# ignore artifacts from productiom
build
dist
coverage
public
node_modules
eslint.config.js
vite.config.ts
tailwind.config.ts
postcss.config.js
package.json
package-lock.json
tsconfig.json
tsconfig.app.json
tsconfig.node.json