# ignore artifacts from production
build
dist
coverage
public
node_modules

# config files
eslint.config.js
vite.config.ts
tailwind.config.ts
postcss.config.js
package.json
package-lock.json
tsconfig.json
tsconfig.app.json
tsconfig.node.json

# src
src/components/plate-ui/*
