# Virtual Envirnment
.env
.venv/
Pipfile
Pipfile.lock

# python cache
*.pyc
__pycache__/

# database related directors/files
instance/
migrations/versions/*.py

# CDN folder | In production the CDN will be provided thru CloudFlare CDN
cdn/ 

# testing resources
.pytest_cache/
.coverage
htmlcov/

# build stuff
dist/
build/
*.egg-info/

# temp ignore
backend-tests