# Virtual Envirnment
.env
.venv/
Pipfile
Pipfile.lock

# python cache
*.pyc
__pycache__/

# database related directors/files
instance/
migrations/versions/*.py

# testing resources
.pytest_cache/
.coverage
htmlcov/

# build stuff
dist/
build/
*.egg-info/

# temporary ignore (might be used in the future)
utils/cache.py
